<div class="card">
  <div class="card-body">
   <h2><%= params[:question].capitalize %></h2>
   <footer class="blockquote-footer">You</footer>
  </div>
</div>

<div class="answer card">
  <div class="card-body">
    <h2><%= @coach %></h2>
    <footer class="blockquote-footer">Your Coach</footer>
  </div>
</div>

